.hero-programs-section {
    width: 100%;
    height: 100%;
    
    display: flex;
    flex-direction: column;
    align-items: center;
}

.hero-programs-container {
    display: flex;
    align-items: center;
    justify-content: flex-start;
  
    margin-top: 20vh;
    height: auto;
    padding: 6vh 12vw;
    overflow: hidden;
}

.programs-card-section {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.programs-card-title {
  font-size: 25px;
  font-weight: 600;
  margin-bottom: 6vh;
}

.programs-card-container {
    display: grid;
    grid-template-columns: auto auto auto;
    gap: 20px;
    margin-bottom: 2vh;
}

@media only screen and (max-width: 850px) {
    .hero-programs-container {
        padding: 0 10vw;
    }

    .programs-card-container {
        display: flex;
        flex-direction: column;
    }
}

/* .carousel {
    position: relative;
    overflow: hidden;
    z-index: 10001;
}

.carousel-content {
    display: flex;
    margin: 150px 0 70px;
    transition: 500ms;
}

@media(max-width: 1024px) {
    .carousel-content {
        margin: 100px 0 50px;
    }
}

@media(max-width: 800px) {
    .carousel-content {
        margin: 70px 0 30px;
    }
}

.carousel-content img {
    height: 110vh;
    min-width: 100vw;
    max-width: 100vw;
    object-fit: cover;
}

.carousel-content video {
    min-width: 100vw;
    max-width: 100vw;
    min-height: 100vh;
    object-fit: fill;
}

.carousel .carousel-control-left {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    width: 10%;
    cursor: pointer;
    z-index: 1;
}

.carousel .carousel-control-right {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    width: 10%;
    cursor: pointer;
    z-index: 1;
} */